// COLORS

$c1: #fbfffd;
$c2: #05000d;
$c3: #ebbbc9;
$c4: #ff0000;

// FONTS

@font-face {
  font-family: "N27";
  src: url("../visual/font/n27-medium-webfont.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "N27";
  src: url("../visual/font/n27-bolditalic-webfont.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "N27";
  src: url("../visual/font/n27-bold-webfont.woff2") format("woff2");
  font-weight: 900;
}

$f1: "N27", sans-serif;
// $f2: "", sans-serif;

* {
  list-style: none;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;

  font-family: $f1, sans-serif;

  a {
    cursor: pointer;
  }

  a:visited {
    color: inherit;
  }
}
