body {
  background: $c2;

  .prepage-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    position: relative;

    svg {
      fill: $c1;
      height: var(--6pr);
    }

    #loadsquare1,
    #loadsquare2,
    #logopixelpsi {
      position: absolute;
    }

    #loadsquare1,
    #loadsquare2 {
      animation: animate 50s linear infinite;

      @keyframes animate {
        to {
          transform: rotate(360deg);
        }
      }
    }
    #loadsquare1 {
      animation-direction: reverse;
    }
  }
}
